<ion-view view-title="Título">
  <ion-content>

  <h1>Browse</h1>

<!--     <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div> -->

<!--     <div class="list">

        <a class="item item-avatar" href="#">
          /portrait_xlarge.jpg
          <img ng-src="{{h.thumbnail.path}}/portrait_xlarge.jpg">
          <h2> Título </h2>
          <p>
              Descrição
          </p>
        </a>

    </div> -->

  </ion-content>
</ion-view>
